body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    max-width: 425px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.message-box {
    display: block;
}

header.container {
    margin-top: 1rem;
    border: solid;
    border-width: 1px;
    background-color: #d4d4d4;
}

header.container > h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.texto {
    border: solid;
    max-width: 375px;
    margin: 0 auto;
    padding: 0.5rem;
}

.mensagem {
    margin: 0.5rem;
}

footer.container {
    background-color: #d4d4d4;
}